<!DOCTYPE html>
<html>

<head>
	<title>供應商帳號管理系統</title>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
	<h1>供應商帳號管理系統</h1>

	<div id="searchSup">
		<p>User帳號查詢:</p>
		<input type="text" v-model="searchAccount" placeholder="輸入User帳號">
		<button @click="searchUser">依User帳號查詢</button>
		<table v-if="searchResult" class="bordered-table">
			<thead>
				<tr>
					<th v-for="(value, key) in searchResult" :key="key">{{ key }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(value, key) in searchResult" :key="key">{{ value }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="searchSupByName">
		<p>User姓名查詢 : </p>
		<input type="text" v-model="searchName" placeholder="輸入User姓名">
		<button @click="searchUserByName">依User姓名查詢</button>
		<table v-if="searchResultByName" class="bordered-table">
			<thead>
				<tr>
					<th v-for="(value, key) in searchResultByName" :key="key">{{ key }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td v-for="(value, key) in searchResultByName" :key="key">{{ value }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="searchSupByDateTimeRange">
		<p>新增時間區間查詢 :</p>
		<input type="datetime-local" v-model="startDateTime" step="1">
		<input type="datetime-local" v-model="endDateTime" step="1">
		<button @click="searchUserByDateTimeRange">依照時間區間查詢</button>
		<table v-if="searchResultByDateTimeRange" class="bordered-table">
			<thead>
				<tr>
					<th v-for="(value, key) in searchResultByDateTimeRange[0]" :key="key">{{ key }}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in searchResultByDateTimeRange" :key="item.id">
					<td v-for="(value, key) in item" :key="key">{{ value }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<hr>

	<div id="app">
		<div v-if="data.length > 0">
			<table class="bordered-table">
				<tr>
					<th v-for="key in keys" :key="key">{{ key }}</th>
					<th id="otherFunc">{{ otherFunc }}</th>
				</tr>
				<tr v-for="supplier in data" :key="supplier.supplierId">
					<td v-for="key in keys" :key="key">{{ supplier[key] || '' }}</td>
					<td>
						<button @click="editUser(supplier)">修改</button>
						<button @click="deleteUser(supplier.supplierId)">刪除</button>
					</td>
				</tr>
			</table>
		</div>
		<div v-else>
			<p>沒有可顯示的數據</p>
		</div>
	</div>

	<br>

	<div id="postSup">

		<button @click="showInputBox = true">點擊新增供應商</button>

		<div v-if="showInputBox">
			<br>
			<h2>新增供應商</h2>
			<div>
				<label for="account" class="required">User帳號 : </label>
				<input type="text" id="account" v-model="account" placeholder="帳號">
			</div>
			<div>
				<label for="name" class="required">User姓名 : </label>
				<input type="text" id="name" v-model="name" placeholder="姓名">
			</div>
			<div>
				<label for="phone" class="required">手機 : </label>
				<input type="text" id="phone" v-model="phone" placeholder="手機">
			</div>
			<div>
				<label for="address" class="required">地址 : </label>
				<input type="text" id="address" v-model="address" placeholder="地址">
			</div>
			<div>
				<label for="email" class="required">信箱 : </label>
				<input type="text" id="email" v-model="email" placeholder="信箱">

			</div>
			<div>
				<label for="last_create_staff" class="required">新增人員 : </label>
				<input type="text" id="last_create_staff" v-model="last_create_staff" placeholder="新增人員">
			</div>
			<br>
			<button @click="addUser">確認新增</button>
			<button @click="cancelAddUser">取消新增</button>
		</div>
	</div>

	<div id="editSup" v-if="showEditBox">
		<h2>編輯供應商</h2>
		<div>
			<label for="editSupplierId">供應商編號Id : </label>
			<input type="text" id="editSupplierId" v-model="editSupplier.supplierId" readonly>
		</div>
		<div>
			<label for="editAccount">User帳號 : </label>
			<input type="text" id="editAccount" v-model="editSupplier.account">
		</div>
		<div>
			<label for="editName">User姓名 : </label>
			<input type="text" id="editName" v-model="editSupplier.name">
		</div>
		<div>
			<label for="editPhone">手機 : </label>
			<input type="text" id="editPhone" v-model="editSupplier.phone">
		</div>
		<div>
			<label for="editAddress">地址 : </label>
			<input type="text" id="editAddress" v-model="editSupplier.address">
		</div>
		<div>
			<label for="editEmail">信箱 : </label>
			<input type="text" id="editEmail" v-model="editSupplier.email">
		</div>
		<div>
			<label for="editLastModifyStaff">修改人員 : </label>
			<input type="text" id="editLastModifyStaff" v-model="editSupplier.last_modify_staff">
		</div>
		<br>
		<button @click="confirmEditUser">確認修改</button>
		<button @click="cancelEditUser">取消修改</button>
	</div>

	<script>
		//-- VueX 全局事件總線 用於新增供應商後直接渲染回app標籤中
		var eventBus = new Vue();

		//-- 呼叫/suppliers取得DB內所有供應商
		//-- 呼叫/supplier/${supplierId}刪除該供應商
		var app = new Vue({
			el: '#app',
			data: {
				data: [],
				keys: [],
				otherFunc: '其他功能',
				editSupplier: {}
			},
			created: function () {
				//POST請求新增供應商時可即時渲染回頁面
				eventBus.$on('userAdded', newUser => {
					this.data.push(newUser);
					//第一筆資料新增會有無法全部印出的問題 
					location.reload();
				});

				//DELETE請求刪除供應商時可即時渲染回頁面
				eventBus.$on('userDeleted', deletedUserId => {
					this.data = this.data.filter(supplier => supplier.supplierId !== deletedUserId);
				});

				//PUT請求修改供應商時可即時渲染回頁面
				eventBus.$on('userEdited', editedUser => {

					var updatedUser = this.data.find(user => user.supplierId === editedUser.supplierId);
					if (updatedUser) {
						updatedUser.last_modify_time = editedUser.last_modify_time;
					}
				});

				this.fetchData();
			},
			methods: {

				fetchData: function () {
					axios.get('/suppliers')
						.then(response => {
							this.data = response.data;
							this.keys = Object.keys(response.data[0]);
						})
						.catch(error => {
							console.error(error);
						});
				},

				deleteUser: function (supplierId) {
					console.log('Deleting supplier with ID:', supplierId);
					axios.delete(`/supplier/${supplierId}`)
						.then(response => {
							//DELETE請求成功後，以全局事件總線送出
							eventBus.$emit('userDeleted', supplierId);
						})
						.catch(error => {
							console.error('Delete error:', error);
						});
				},

				editUser: function (supplier) {
					editSup.editSupplier = supplier;
					editSup.showEditBox = true;
				}
			}
		});

		//-- 呼叫/supplier 新增一筆供應商資料
		var addSup = new Vue({
			el: '#postSup',
			data: {
				showInputBox: false,
				account: '',
				name: '',
				phone: '',
				address: '',
				email: '',
				last_create_staff: ''
			},
			methods: {
				addUser: function () {

					if (!this.account || !this.name || !this.phone || !this.address || !this.email || !this.last_create_staff) {
						alert('請填寫所有必填欄位');
						return;
					}

					const newUser = {
						account: this.account,
						name: this.name,
						phone: this.phone,
						address: this.address,
						email: this.email,
						last_create_staff: this.last_create_staff
					};

					axios.post('/supplier', newUser)
						.then(response => {
							//POST請求成功後，以全局事件總線送出
							eventBus.$emit('userAdded', response.data);
							this.fetchData();
						})
						.catch(error => {
							console.error(error);
							console.log("新增錯誤");
						});

					this.account = '';
					this.name = '';
					this.phone = '';
					this.address = '';
					this.email = '';
					this.last_create_staff = '';

					this.showInputBox = false;
				},
				cancelAddUser: function () {
					this.account = '';
					this.name = '';
					this.phone = '';
					this.address = '';
					this.email = '';
					this.last_create_staff = '';
					this.showInputBox = false;
					//取消新增時重整頁面，讓頁面參數回復原狀
					location.reload()
				}
			}
		});

		var editSup = new Vue({
			el: '#editSup',
			data: {
				showEditBox: false,
				editSupplier: {}
			},
			methods: {
				cancelEditUser: function () {
					this.showEditBox = false;
					//取消更新時重整頁面，讓頁面參數回復原狀
					location.reload();
				},
				confirmEditUser: function () {
					
					if (!this.account || !this.name || !this.phone || !this.address || !this.email || !this.last_modify_staff) {
						alert('請填寫所有必填欄位');
						return;
					}
					
					axios.put(`/supplier/${this.editSupplier.supplierId}`, this.editSupplier)
						.then(response => {

							//PUT請求成功後，重新取得修改時間並以全局事件總線送出
							axios.get(`/supplier/supplierId/${this.editSupplier.supplierId}`)
								.then(response => {
									eventBus.$emit('userEdited', response.data);
									this.showEditBox = false;
								})
								.catch(error => {
									console.error('取得供應商資料錯誤:', error);
								});
						})
						.catch(error => {
							console.error('編輯錯誤:', error);
						});
				}
			}
		});

		//以User帳號查詢
		var searchSup = new Vue({
			el: '#searchSup',
			data: {
				searchAccount: '',
				searchResult: ''
			},
			methods: {
				searchUser: function () {
					axios.get(`/supplier/account/${this.searchAccount}`)
						.then(response => {
							this.searchResult = response.data;
						})
						.catch(error => {
							console.error(error);
						});
				}
			}
		});

		//以User姓名查詢
		var searchSupByName = new Vue({
			el: '#searchSupByName',
			data: {
				searchName: '',
				searchResultByName: ''
			},
			methods: {
				searchUserByName: function () {
					axios.get(`/supplier/name/${this.searchName}`)
						.then(response => {
							this.searchResultByName = response.data;
						})
						.catch(error => {
							console.error(error);
						});
				}
			}
		});

		//以時間區間查詢
		var searchSupByDateTimeRange = new Vue({
			el: '#searchSupByDateTimeRange',
			data: {
				startDateTime: null,
				endDateTime: null,
				searchResultByDateTimeRange: ''
			},
			methods: {
				searchUserByDateTimeRange: function () {
					if (this.startDateTime && this.endDateTime) {
						var formattedStartDateTime = formatDate(this.startDateTime);
						var formattedEndDateTime = formatDate(this.endDateTime);
						axios.get(`/supplier/timeRange/${formattedStartDateTime}/${formattedEndDateTime}`)
							.then(response => {
								this.searchResultByDateTimeRange = response.data;
							})
							.catch(error => {
								console.error(error);
							});
					} else {
						this.searchResultByDateTimeRange = '請選擇起始日期和結束日期';
					}
				}
			}
		});

		function formatDate(dateTime) {
			var year = dateTime.substring(0, 4);
			var month = dateTime.substring(5, 7);
			var day = dateTime.substring(8, 10);
			var hours = dateTime.substring(11, 13);
			var minutes = dateTime.substring(14, 16);
			var seconds = dateTime.substring(17, 19);
			return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
		}

	</script>

	<style>
		.bordered-table {
			border-collapse: collapse;
		}

		.bordered-table th,
		.bordered-table td {
			border: 1px solid black;
			padding: 8px;
		}

		.required::before {
			content: '*';
			color: red;
		}
	</style>
</body>

</html>