<!DOCTYPE html>
<html>

<head>
	<title>供應商帳號管理系統</title>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>

<body>
	<h1>供應商帳號管理系統</h1>
	<div id="app">
		<table class="bordered-table">
			<tr>
				<th v-for="key in keys" :key="key">{{ key }}</th>
				<th id="otherFunc">{{ otherFunc }}</th>
			</tr>
			<tr v-for="supplier in data" :key="supplier.supplierId">
				<td v-for="key in keys" :key="key">{{ supplier[key] || '' }}</td>
				<td>
					<button @click="editUser(supplier)">修改</button>
					<button @click="deleteUser(supplier.supplierId)">刪除</button>
				</td>
			</tr>
		</table>
	</div>

	<br>

	<div id="postSup">

		<button @click="showInputBox = true">點擊新增供應商</button>

		<div v-if="showInputBox">
			<br>
			<div>
				<label for="account">User帳號 : </label>
				<input type="text" id="account" v-model="account" placeholder="帳號">
			</div>
			<div>
				<label for="name">姓名 : </label>
				<input type="text" id="name" v-model="name" placeholder="姓名">
			</div>
			<div>
				<label for="phone">手機 : </label>
				<input type="text" id="phone" v-model="phone" placeholder="手機">
			</div>
			<div>
				<label for="address">地址 : </label>
				<input type="text" id="address" v-model="address" placeholder="地址">
			</div>
			<div>
				<label for="email">信箱 : </label>
				<input type="text" id="email" v-model="email" placeholder="信箱">
			</div>
			<div>
				<label for="last_create_staff">新增人員 : </label>
				<input type="text" id="last_create_staff" v-model="last_create_staff" placeholder="新增人員">
			</div>
			<br>
			<button @click="addUser">確認新增</button>
			<button @click="cancelAddUser">取消新增</button>
		</div>
	</div>

	<script>
		//-- VueX 全局事件總線 用於新增供應商後直接渲染回app標籤中
		var eventBus = new Vue();

		//-- 呼叫/suppliers取得DB內所有供應商
		var app = new Vue({
			el: '#app',
			data: {
				data: [],
				keys: [],
				otherFunc: '其他功能'
			},
			created: function () {
				eventBus.$on('userAdded', newUser => {
					this.data.push(newUser);
				});

				eventBus.$on('userDeleted', deletedUserId => {
					this.data = this.data.filter(supplier => supplier.supplierId !== deletedUserId);
				});

				this.fetchData();
			},
			methods: {
				fetchData: function () {
					axios.get('/suppliers')
						.then(response => {
							this.data = response.data;
							this.keys = Object.keys(response.data[0]);
						})
						.catch(error => {
							console.error(error);
						});
				},
				deleteUser: function (supplierId) {
					console.log('Deleting supplier with ID:', supplierId);
					axios.delete(`/supplier/${supplierId}`)
						.then(response => {
							eventBus.$emit('userDeleted', supplierId); //--刪除後直接渲染回頁面
						})
						.catch(error => {
							console.error('Delete error:', error);
						});
				}
			}
		});

		//-- 呼叫/supplier 新增一筆供應商資料
		var addSup = new Vue({
			el: '#postSup',
			data: {
				showInputBox: false,
				account: '',
				name: '',
				phone: '',
				address: '',
				email: '',
				last_create_staff: ''
			},
			methods: {
				addUser: function () {
					const newUser = {
						account: this.account,
						name: this.name,
						phone: this.phone,
						address: this.address,
						email: this.email,
						last_create_staff: this.last_create_staff
					};

					axios.post('/supplier', newUser)
						.then(response => {
							eventBus.$emit('userAdded', response.data); //--新增後直接渲染回頁面
						})
						.catch(error => {
							console.error(error);
						});

					this.account = '';
					this.name = '';
					this.phone = '';
					this.address = '';
					this.email = '';
					this.last_create_staff = '';

					this.showInputBox = false;
				},
				cancelAddUser: function () {
					this.showInputBox = false;
				}
			}
		});
	</script>

	<style>
		.bordered-table {
			border-collapse: collapse;
		}

		.bordered-table th,
		.bordered-table td {
			border: 1px solid black;
			padding: 8px;
		}
	</style>
</body>

</html>